@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #000;
  font-family: var(--font-poppins);
}

@layer components {
  .btn {
    @apply inline-block text-base leading-[1.5rem] font-bold px-8 py-4 border border-white rounded hover:bg-zinc-700 disabled:opacity-75 disabled:cursor-not-allowed w-fit;
  }
  .badge {
    @apply py-1 px-2 bg-zinc-800 w-fit text-sm;
  }
}
